api_key = "<YOUR IBM CLOUD API KEY>"
url = "https://us-south.ml.cloud.ibm.com"
space_id = "<YOUR SPACE ID where Prompt Templates are deployed>"
deployment_id = "<Deployment ID for your generation prompt template>"
eval_deployment_id = "<Deployment ID for your evaluation prompt template>"
